{% extends 'main_template.html' %}

{% block content %}
    <style>
    .spaced {
        margin: 10px;
    }
    </style>
    <div class="container">
    <div class="row">
        <div id="login-div" class="col-sm-8 spaced">
            <h3>
                Login
            </h3>
            <hr>
            <form id="login-form" method="post" class="form fv-form fv-form-bootstrap" action="/login">
                {% csrf_token %}
                <div class="col-sm-4">
                    <label for="email">
                        Email:
                    </label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="email" name="EMAIL">
                </div>
                <br>
                <div class="col-sm-4">
                    <label for="password">
                        Password:
                    </label>
                </div>
                <div class="col-sm-8">
                    <input type="password" id="password" name="PASSWORD">
                </div>
                <br>
                <div class="col-sm-12">
                    <input type="submit">
                    <div id="login-message-container" style="margin-left:10px;" class="button-shape">
                    </div>
                </div>
            </form>
            <br>
            <a href="/registration">Create new account</a>
            <br>
            <a href="#" onclick="changePW(false)">Forgot Password</a>
            </div>
    
            <div id="change-div" class="col-sm-8 spaced">
                <h3>
                    Change Password
                </h3>
                <hr>
                <form method="post" action="/requestchange">
                {% csrf_token %}
                    <div class="col-sm-4"><label for="email-change">Email:</label></div>
                    <div class="col-sm-8"><input id="email-change" name="EMAIL"></div>
                    <input type="hidden" name="CHANGE_TYPE" value="PASSWORD"><br>
                    <input type="submit">
                </form>
                <br>
                <a href="#" onclick="changePW(true)">Show Login</a>
                <br>

            </div>


        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#login-form").submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: "/login",
                    cache: false,
                    method: "post",
                    data: {
                        csrfmiddlewaretoken: $("#login-form input[name=\"csrfmiddlewaretoken\"]").first().val(),
                        EMAIL: $("#email").val(),
                        PASSWORD: $("#password").val()
                    },
                    success: function(response){
                        if(response.ERROR == false){
                            //successful login
                            $("#login-message-container").addClass("alert-success");
                            $("#login-message-container").html("Succes: click <a href=\"/chatbot\">here</a> if you are not automatically redirected");
                            $("#login-message-container").css("display", "inline-block");
                            window.location.replace("/chatbot");
                        }
                        else if(response.ERROR == true){
                            //failed login
                            $("#login-message-container").addClass("alert-danger");
                            $("#login-message-container").text("Error: " + response.MESSAGE);
                            $("#login-message-container").css("display", "inline-block");
                        } 
                        else{
                            //response.ERROR undefined, error on server implied
                            $("#login-message-container").addClass("alert-danger");
                            $("#login-message-container").text("Error: unknown server error");
                            $("#login-message-container").css("display", "inline-block");
                        }
                    },
                    error: function(jqXHR, response){
                        //server error
                        $("#login-message-container").addClass("alert-danger");
                        $("#login-message-container").text("Error: server error (" + jqXHR + ")");
                        $("#login-message-container").css("display", "inline-block");
                    }
                });
            });
            
            $("#passwordResetSubmit").on("click", function(e){
                window.setTimeout(function(e){
                    submitPasswordReset(e);
                }, 0);
            });
        });
        function changePW(vis) {
            if(vis) {
                document.getElementById("change-div").setAttribute("style", "display: none;");
                document.getElementById("login-div").setAttribute("style", "display: initial;");
            } else {
                document.getElementById("change-div").setAttribute("style", "display: initial;");
                document.getElementById("login-div").setAttribute("style", "display: none;");
            }
        }
        changePW(true);
    </script>

{% endblock %}