{% extends 'main_template.html' %}
{% load static %}

{% block title %}Admin Registration{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3 hidden-xs-down spacer">
        </div>
        <div id="edit-div" class="col-sm-10 col-md-8 col-lg-6 col-xs-12">
            <h2>
                Edit User
            </h2>
            <hr />
            <form id="edit-user-form" class="fv-form fv-form-bootstrap" action="edit" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label for="first-name" data-error="wrong" data-success="right">First Name:</label>
                    </div>
                    <div class="hidden-xs-down col-sm-6" style="display:block;width:100%;">
                        <label for="last-name" data-error="wrong" data-success="right">Last Name:</label>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" id="first-name" name="FIRST_NAME" placeholder="First Name" value="user.first_name" required>
                    </div>
                    <div class="col-xs-12 hidden-sm-up" style="display:block;width:100%;">
                        <label for="last-name" data-error="wrong" data-success="right">Last Name:</label>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" id="last-name" name="LAST_NAME" value="user.last_name" placeholder="Last Name" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label for="email" data-error="wrong" data-success="right">Email:</label>
                    </div>
                    <div class="col-sm-12">
                        <input type="text" id="email" name="EMAIL" placeholder="Email"  value="user.email" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label for="password" data-error="wrong" data-success="right">Password:</label>
                    </div>
                    <div class="hidden-xs-down col-sm-6" style="display:block;width:100%;">
                        <label for="confirm-password" data-error="wrong" data-success="right">Confirm Password:</label>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="password" id="password" name="PASSWORD" placeholder="Password" required>
                    </div>
                    <div class="col-xs-12 hidden-sm-up" style="display:block;width:100%;">
                        <label for="confirm-password" data-error="wrong" data-success="right">Confirm Password:</label>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="password" id="confirm-password" name="CONFIRM_PASSWORD" placeholder="Confirm Password" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" class="btn" value="Save" />
                        <div id="edit-user-message-container" style="display:none;" class="button-shape">
                            <h2>Your changes have been saved</h2>
                        </div>
                    </div>
                </div>
                <br />
                <p id="errmsg"></p>
            </form>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-3 hidden-xs-down spacer">
        </div>
    </div>
  </div>


{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        //encodes String for use in HTML
        String.prototype.htmlEncode = function(){
            return $("<div></div>").text(this).html();
        }
        $(document).ready(function(){
            $("#edit-user-form").submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: "/edit",
                    cache: false,
                    method: "post",
                    data: {
                        csrfmiddlewaretoken: $("#edit-user-form input[name=\"csrfmiddlewaretoken\"]").first().val(),
                        EMAIL: $("#email").val(),
                        PASSWORD: $("#password").val()
                    },
                    success: function(response){
                        if(response.ERROR == false){
                            //successful login
                            $("#edit-user-message-container").addClass("alert-success");
                            $("#edit-user-message-container").html("Succes: Your changes have been saved");
                            $("#edit-user-message-container").css("display", "inline-block");
                            window.location.replace("/chatbot");
                        }
                        else if(response.ERROR == true){
                            //failed login
                            $("#edit-user-message-container").addClass("alert-danger");
                            $("#edit-user-message-container").text("Error: " + response.MESSAGE);
                            $("#edit-user-message-container").css("display", "inline-block");
                        } 
                        else{
                            //response.ERROR undefined, error on server implied
                            $("#edit-user-message-container").addClass("alert-danger");
                            $("#edit-user-message-container").text("Error: unknown server error");
                            $("#edit-user-message-container").css("display", "inline-block");
                        }
                    },
                    error: function(jqXHR, response){
                        //server error
                        $("#edit-user-message-container").addClass("alert-danger");
                        $("#edit-user-message-container").text("Error: server error (" + jqXHR + ")");
                        $("#edit-user-message-container").css("display", "inline-block");
                    }
                });
            });
        });
    </script>
{% endblock %}