{% extends 'main_template.html' %}
{% load static %}

{% block title %}ChatBot{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3 hidden-xs-down spacer">
        </div>
        <div id="chatbot-container" class="col-sm-10 col-md-8 col-lg-6 col-xs-12"
             style="border-style:solid;border-color:black;border-width:1px;background-color:#ffffff;">
            <div class="row">
                <div id="history-window" class="col-sm-12">
                    <div id="settings-button" class="transition">
                        <img src="{% static 'ChatBot/images/icons/ic_settings_white_48dp_2x.png' %}" style="height:35px;" />
                    </div>
                    <div style="float:right;height:60px;width:45px;">
                    </div>
                    <div id="settings-pane" style="display:none;position:absolute;top:10px;right:10px;border-radius:27px;background-color:#002244;color:#ffffff;">
                        <div id="settings-pane-exit" style="position:absolute;top:6px;right:6px;border-radius:28px;background-color:#002244;color:#ffffff;cursor:pointer;">
                            <img src="{% static 'ChatBot/images/icons/ic_close_white_48dp_2x.png' %}" style="height:35px;" />
                        </div>
                        <ul style="list-style-type:none;padding:47px 27px 0px 27px;max-height:calc(100vh - 100px);overflow-y:scroll;">
                            <li id="clear-history-button" class="settings-pane-item">
                                Clear History
                            </li>
                            <a href="update_profile_handler">
                                <li class="settings-pane-item">
                                    Edit Account
                                </li>
                            </a>
                            <a href="change_password_handler">
                                <li class="settings-pane-item">
                                    Change Password
                                </li>
                            </a>
                            <a href="delete">
                                <li class="settings-pane-item">
                                    Delete Account
                                </li>
                            </a>
                            <a href="logout">
                                <li class="settings-pane-item" style="border-style:solid none;">
                                    Log Out
                                </li>
                            </a>
                        </ul>
                    </div>
                    <div id="history" style="display: block;height: 300px;background-color:#ffffff;overflow-y:scroll;">
                        OIT: Welcome, {{ user.username }} <br />
                    </div>
                </div>
            </div>
            <form id="query">
                {% csrf_token %}
                <div class="row" style="padding:10px;background-color:#cdcdcd;display:flex;">
                    <div id="user-entry" style="flex-grow:10;padding:0px;margin:0px 5px 0px 0px">
                        <input type="text" id="question" name="QUESTION_TEXT" style="width:100%;height:44px;"
                               placeholder="How can I help?" autocomplete="off" />
                    </div>
                    <div id="submit-div" style="text-align:center;margin:0px 0px 0px 5px;">
                        <input type="submit" value="Send" style="outline-style:none;" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-3 hidden-xs-down spacer">
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    //encodes String for use in HTML
    String.prototype.htmlEncode = function(){
        return $("<div></div>").text(this).html();
    }
    String.prototype.encodeLinks = function(){
        var str = this;
        var matches = [];
        var additionalMatches = str.match(/\bhttps?:\/\/\S+/gi);
        if(additionalMatches != null){
            additionalMatches.forEach(function(match){
                matches.push(match);
            });
        }
        var additionalMatches = str.match(/\b\/\S+/gi);
        if(additionalMatches != null){
            additionalMatches.forEach(function(match){
                var notThere = true;
                matches.forEach(function(existingMatch){
                    if(existingMatch.indexOf(match) > -1){
                        notThere = false;
                    }
                });
                if(notThere){
                    matches.push(match);
                }
            });
        }
        if(matches != null){
            matches.forEach(function(match){
                var replacement = "<a href=\"" + match + "\">" + match + "</a>";
                str = str.split(match).join(replacement);
            });
        }
        return str;
    }
    $(document).ready(function(){
        $("#query").submit(function(e){
            e.preventDefault();
            var q = $("#query").serialize();
            question = $("#question").val();
            $("#question").val("");
            $.ajax({
                url: "/chatbot",
                type: "POST",
                data: q,
                success: function(data) {
                    var str = "You: " + question.htmlEncode() + "<br>";
                    $("#history").append(str + "OIT: " + data["MESSAGE"].encodeLinks() + "<br>");
                    $("#history").animate({ scrollTop: $('#history').prop("scrollHeight")}, 200);
                },
                error: function(data) {
                    var str = "You: " + question.htmlEncode() + "<br>";
                    $("#history").append(str + "OIT: " + data["MESSAGE"].encodeLinks() + "<br>");
                    $("#history").animate({ scrollTop: $('#history').prop("scrollHeight")}, 200);
                }
            });
        });
        
        var settingsPaneVisible = false;
        $("#settings-button").on("click", function(){
            $("#settings-pane").fadeIn(200);
            settingsPaneVisible = true;
        });
        $("#settings-pane-exit, #history, #query").on("click", function(){
            if(settingsPaneVisible){
                $("#settings-pane").fadeOut(200);
                settingsPaneVisible = false;
            }
        });
        $("#clear-history-button").on("click", function(){
            $("#history").html("OIT: Welcome, {{ user.username }} <br />");
            $("#settings-pane").fadeOut(200);
        });
    });


</script>
{% endblock %}