{% extends 'main_template.html' %}
{% load static %}

{% block title %}ChatBot{% endblock %}

{% block content %}
<div class="container">
    <br class="row">
    <div class="col-sm-1 col-md-2 col-lg-3 hidden-xs-down spacer">
    </div>
    Welcome, {{ user.username }}
    <a href="/logout_handler">[logout]</a>
    <div id="chatbot-container" class="col-sm-10 col-md-8 col-lg-6 col-xs-12"
         style="border-style:solid;border-color:black;border-width:1px;background-color:#ffffff;">
        <div class="row">
            <div id="history-window" class="col-sm-12">
                <div id="history" style="display: block;height: 300px;background-color:#ffffff;">
                </div>
            </div>
        </div>
        <form id="query">
            {% csrf_token %}
            <div class="row" style="padding:10px;background-color:#cdcdcd;">
                <div id="user-entry" class="col-sm-9">
                    <input type="text" id="question" name="QUESTION_TEXT" style="width:100%;height:44px;"
                           placeholder="How can I help?">
                </div>
                <div id="submit-div" class="col-sm-3" style="text-align:center;">
                    <input type="button" value="submit" onclick="SendQuestion()" style="outline-style:none;">
                </div>
            </div>
        </form>
    </div>
    <br>
    <button type="button">
        <a href="/delete_user_handler">Delete</a>
    </button>
    </br>
    <br>
    <button type="button">
        <a href="/update_profile_handler">Update Profile</a>
    </button>
    </br>
    <!-- onclick="changePW(false)">Delete User</> -->
    <div class="col-sm-1 col-md-2 col-lg-3 hidden-xs-down spacer">
    </div>
</div>
    <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3 hidden-xs-down spacer">
        </div>
        <div id="chatbot-container" class="col-sm-10 col-md-8 col-lg-6 col-xs-12"
             style="border-style:solid;border-color:black;border-width:1px;background-color:#ffffff;">
            <div class="row">
                <div id="history-window" class="col-sm-12">
                    <div id="settings-button" class="transition">
                        <img src="{% static 'ChatBot/images/icons/ic_settings_white_48dp_2x.png' %}" style="height:35px;" />
                    </div>
                    <div id="settings-pane" style="display:none;position:absolute;top:10px;right:10px;border-radius:27px;background-color:#002244;color:#ffffff;">
                        <div id="settings-pane-exit" style="position:absolute;top:6px;right:6px;border-radius:28px;background-color:#002244;color:#ffffff;cursor:pointer;">
                            <img src="{% static 'ChatBot/images/icons/ic_close_white_48dp_2x.png' %}" style="height:35px;" />
                        </div>
                        <ul style="list-style-type:none;padding:47px 27px 0px 27px;">
                            <li id="clear-history-button" class="settings-pane-item">
                                Clear History
                            </li>
                            <a href="edit-account">
                                <li class="settings-pane-item">
                                    Edit Account
                                </li>
                            </a>
                            <a href="delete">
                                <li class="settings-pane-item">
                                    Delete Account
                                </li>
                            </a>
                            <a href="logout">
                                <li class="settings-pane-item" style="border-style:solid none;">
                                    Log Out
                                </li>
                            </a>
                        </ul>
                    </div>
                    <div id="history" style="display: block;height: 300px;background-color:#ffffff;">
                        Welcome, {{ user.username }}
                    </div>
                </div>
            </div>
            <form id="query">
                {% csrf_token %}
                <div class="row" style="padding:10px;background-color:#cdcdcd;">
                    <div id="user-entry" class="col-sm-9">
                        <input type="text" id="question" name="QUESTION_TEXT" style="width:100%;height:44px;"
                               placeholder="How can I help?">
                    </div>
                    <div id="submit-div" class="col-sm-3" style="text-align:center;">
                        <input type="button" value="submit" onclick="SendQuestion()" style="outline-style:none;">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-3 hidden-xs-down spacer">
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
	function SendQuestion() {
		var q = $("#query").serialize();
		question = $("#question").val();
		console.log("question = " + question);
		$.ajax({
			url: "/chatbot",
			type: "POST",
			data: q,
			success: function(data) {
				console.log(data);
				var str = "You: " + $("<div></div>").text(question).html() + "<br>";
				$("#history").append(str + "OIT: " + data["MESSAGE"] + "<br>");
			},
			error: function(data) {
				console.log(data);
				var str = "You: " + $("<div></div>").text(question).html() + "<br>";
				$("#history").append(str + "OIT: " + data["MESSAGE"] + "<br>");
			}
		});
	}


</script>
{% endblock %}