{% extends 'main_template.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class='col-sm-12'>
            <h3 class="alert-danger" style="padding:15px;border-radius:2px;">
                Change Password
            </h3>
            <br/>
            {% if request.user.is_authenticated %}
            <p>
                Password must:
            <ul>
                <li>Be at least 8 characters</li>
                <li>Contain at least two uppercase letters</li>
                <li>Contain at least two digits</li>
                <li>Contain at least two of the following characters: ! @ # $ % & * - +</li>
            </ul>
            </p>
            <br/>
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <br>
                <button type="submit">Save changes</button>
                </br>
                <br>
                <input type="button" value="Back" onclick="window.location='{% url 'chatbot_handler' %}'"/>
                </br>
            </form>
            {% else %}
            <h4>
                You do not have permission to change password.
            </h4>
            <a href="/chatbot">Chatbot</a>
            {% endif %}

        </div>
    </div>
</div>


{% endblock %}

<!--{% block javascript %}-->
<!--<script type="text/javascript">-->
<!--$(document).ready(function(){-->
<!--var isChange = false;-->
<!--function deactivateSubmitButton(){-->
<!--$("#passwordChangeSubmit").css("background-color", "#666666");-->
<!--$("#passwordChangeSubmit").css("color", "#ffffff");-->
<!--$("#passwordChangeSubmit").css("top", "0px");-->
<!--$("#passwordChangeSubmit").css("box-shadow", "0px 0px 0px 0px #000000");-->
<!--$("#passwordChangeSubmit").css("cursor", "default");-->
<!--$("#passwordChangeSubmit").hover(function(){-->
<!--$("#passwordChangeSubmit").css("background-color", "#666666");-->
<!--$("#passwordChangeSubmit").css("color", "#ffffff");-->
<!--$("#passwordChangeSubmit").css("top", "0px");-->
<!--$("#passwordChangeSubmit").css("box-shadow", "0px 0px 0px 0px #000000");-->
<!--$("#passwordChangeSubmit").css("cursor", "default");-->
<!--});-->
<!--}-->
<!--$("#passwordChange").submit(function(e){-->
<!--e.preventDefault();-->
<!--if(!isChange){-->
<!--&lt;!&ndash;var pw1 = $("#old_password").val();&ndash;&gt;-->
<!--var pw2 = $("#new_password").val();-->
<!--var pw3 = $("#confirm_password").val();-->
<!--if(pw2 == pw3){-->
<!--$.ajax({-->
<!--url: "/change",-->
<!--cache: false,-->
<!--method: "post",-->
<!--data: {-->
<!--csrfmiddlewaretoken: $("#passwordChange input[name=\"csrfmiddlewaretoken\"]").first().val(),-->
<!--PASSWORD: pw2,-->
<!--CONFIRM_PASSWORD: pw3-->
<!--},-->
<!--success: function(response){-->
<!--if(response.ERROR == false){-->
<!--//successful change-->
<!--isChange = true;-->
<!--deactivateSubmitButton();-->
<!--$("#change-message-container").addClass("alert-success");-->
<!--$("#change-message-container").html("Success: Your password has been successfully updated");-->
<!--$("#change-message-container").css("display", "inline-block");-->

<!--}-->
<!--else if(response.ERROR == true){-->
<!--//failed change-->
<!--$("#change-message-container").addClass("alert-danger");-->
<!--$("#change-message-container").text("Error: " + response.MESSAGE);-->
<!--$("#change-message-container").css("display", "inline-block");-->
<!--}-->
<!--else{-->
<!--//response.ERROR undefined, error on server implied-->
<!--$("#change-message-container").addClass("alert-danger");-->
<!--$("#change-message-container").text("Error: unknown server error");-->
<!--$("#change-message-container").css("display", "inline-block");-->
<!--}-->
<!--},-->
<!--error: function(jqXHR, response){-->
<!--//server error-->
<!--$("#change-message-container").addClass("alert-danger");-->
<!--$("#change-message-container").text("Error: server error (" + jqXHR + ")");-->
<!--$("#change-message-container").css("display", "inline-block");-->
<!--}-->
<!--});-->
<!--}-->
<!--else{-->
<!--$("#change-message-container").addClass("alert-danger");-->
<!--$("#change-message-container").text("Error: passwords do not match");-->
<!--$("#change-message-container").css("display", "inline-block");-->
<!--}-->
<!--}-->
<!--});-->
<!--function submitPasswordChange(e){-->
<!--//e.preventDefault();-->
<!--var pw1 = $("#new_password").val();-->
<!--var pw2 = $("#confirm_password").val();-->
<!--if(pw1 == pw2){-->
<!--var token = $("input[name=\"csrfmiddlewaretoken\"]").first().val();-->
<!--$.ajax({-->
<!--url: "/change",-->
<!--cache: false,-->
<!--method: "post",-->
<!--data: {-->
<!--csrfmiddlewaretoken: token,-->
<!--PASSWORD: pw1,-->
<!--CONFIRM_PASSWORD: pw2-->
<!--},-->
<!--success: function(data){-->
<!--response = JSON.parse(data);-->
<!--alert(response.MESSAGE);-->
<!--}-->
<!--});-->
<!--}-->
<!--else{-->
<!--alert("Passwords do not match: "+pw1+" "+pw2);-->
<!--}-->
<!--return false;-->
<!--}-->

<!--$("#passwordChangeSubmit").on("click", function(e){-->
<!--window.setTimeout(function(e){-->
<!--submitPasswordChange(e);-->
<!--}, 0);-->
<!--});-->
<!--});-->
<!--</script>-->
<!--{% endblock %}-->



