{% extends 'main_template.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class='col-sm-12'>
            <div>
                {% if messages %}
                {% for message in messages %}
                <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}" {% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onmouseover="this.style.top='0px';this.style.backgroundColor='inherit';this.style.boxShadow='0px 0px 0px #000000';">&times;</button>
                    {{ message }}
                </p>
                {% endfor %}
                {% endif %}
            </div>
            <h3 class="alert-danger" style="padding:15px;border-radius:2px;">
                Change Password
            </h3>
            <br/>
            {% if request.user.is_authenticated %}
            <p>
                Password must:
            <ul>
                <li>Be at least 8 characters</li>
                <li>Contain at least two uppercase letters</li>
                <li>Contain at least two digits</li>
                <li>Contain at least two of the following characters: ! @ # $ % & * - +</li>
            </ul>
            </p>
            <br/>
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <button type="submit">Save changes</button>
                <input type="button" value="Cancel" style="margin-left:10px;" onclick="window.location='{% url 'chatbot_handler' %}'"/>
            </form>
            {% else %}
            <h4>
                You do not have permission to change password.
            </h4>
            <a href="/chatbot">Chatbot</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}

