{% extends 'main_template.html' %}
{% load static %}

{% block title %}ChatBot{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-s-6">
            <h2 id="chatbot-message">Welcome to chatbot! You may request to login or to recover your account.</h2>
            <form id="login-test-form" class="fv-form fv-form-bootstrap">
                {% csrf_token %}

                <div class="col-s-4">
                    <label for="input" data-error="wrong" data-success="right">Prompt:</label>
                </div>
                <div class="col-s-8">
                    <input type="text" id="input" name="INPUT" class="form-control" required>
                </div>

                <input type="submit" class="btn">
                <p id="errmsg"></p>
            </form>
        </div>
    </div>
  </div>


{% endblock %}

{% block javascript %}
    <script type="text/javascript" src={% static 'ChatBot/js/chatbot/chatbot.js' %}></script>
{% endblock %}